* {
  margin: 0;
  box-sizing: border-box;
}

.main-login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.login-form {
  background-color: white;
  width: 90vw;
  height: 90vh;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login-form img {
  width: 100px;
  height: auto;
  margin: 20px 0;
}

.login-form input {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin: 20px 0;
  font-size: 14px;
  border-radius: 5px;
}

/* Button component */

.btn{
  border-radius: 10px;
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 10px;
  width: 100px;
  height: 50px; 
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.btn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* Table component */

.display-info{
  font-family: "Quicksand";
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.display-info td, .display-info th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

.display-info tr:last-child, .display-info th:last-child  {
  width:50px;
}

.display-info button {
  margin: 0 auto;
}

.display-info tr:nth-child(even){background-color: #f2f2f2;}

.display-info tr:hover {background-color: #ddd;}

.display-info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}