* {
  margin: 0;
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.login-form {
  background-color: white;
  width: 90vw;
  height: 90vh;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login-form img {
  width: 100px;
  height: auto;
  margin: 20px 0;
}

.login-form input {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin: 20px 0;
  font-size: 14px;
  border-radius: 5px;
}

/* Button component */

.btn {
  border-radius: 10px;
  background-color: #04AA6D;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.btn:after {
  background: #f1f1f1;
  display: block;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Table component */

.display-info {
  font-family: "Quicksand";
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.display-info td,
.display-info th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

.display-info tr td:last-child,
.display-info th td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-info select{
  margin: 0 20px;
}

.display-info button {
  margin: 0 20px;
}

.display-info tr:nth-child(even) {
  background-color: #f2f2f2;
}

.display-info tr:hover {
  background-color: #ddd;
}

.display-info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.nav-container {
  background-color: #E8E8E8;
  overflow: hidden;
  height: 10%;
  z-index: 300;
  width: 100vw;
  height: 50px;
}

.nav-container nav {
  width: 100vw;
  margin: 0;
  padding: 0 8px;
  height: 100%;
}

nav .desktop-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  height: 100%;
  list-style: none;

}

nav .desktop-nav li a {
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
  opacity: 1;
  color: #04AA6D;
}

/* Add user form */

.add-form {
  font-size: 23px;
  background-color: white;
  width: 35vw;
  height: 50vh;
  max-width: 1200px;
  max-height: 800px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.add-form input {
  color: black;
  width:90%;
  height: 11%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 9px;
}
input,
input::placeholder {
    font: 16px sans-serif;
    color: #b3b3b3;
}
.add-form .radio {
  height:20px;
   width:20px; 
   vertical-align: middle;
   margin:10px;
   margin-left: 0;
}
.add-form .radio-text{
  font-size: 23px;
}

.add-form label {
  margin-right: 10px;
}

.add-form > div {
  
  align-self: flex-start;
  margin-left: 5%;
}

